<%= form_with(model: sneaker) do |form| %>
  <% if sneaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sneaker.errors.count, "error") %> prohibited this sneaker from being saved:</h2>

      <ul>
        <% sneaker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :pricefloat %>
    <%= form.text_field :pricefloat %>
  </div>

  <div class="field">
    <%= form.label :availability %>
    <%= form.check_box :availability %>
  </div>

  <div class="field">
    <%= form.label :uder %>
    <%= form.text_field :uder %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
