<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @sneaker.description %>
</p>

<p>
  <strong>Pricefloat:</strong>
  <%= @sneaker.pricefloat %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @sneaker.availability %>
</p>

<p>
  <strong>User:</strong>
  <%= @sneaker.user.email %>
</p>
<% image_tag @sneakers.picture %>

<%= link_to 'Edit', edit_sneaker_path(@sneaker) %> |
<%= link_to 'Available shoes', sneakers_path %>
