<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shoe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shoe.description %>
</p>

<p>
  <strong>Text:</strong>
  <%= @shoe.text %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shoe.price %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @shoe.availability %>
</p>

<p>
  <strong>Category:</strong>
  <%= @shoe.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @shoe.user_id %>
</p>

<%= link_to 'Edit', edit_shoe_path(@shoe) %> |
<%= link_to 'Available shoes', shoes_path %>
